@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	--primary: #0651c1;
	--success: #2cbd96;
	--danger: #ed6567;
}
body {
	background-color: #282c34;
	font-family: "Nunito";
}
.app-layout {
	width: 375px;
	height: 750px;
	overflow-y: scroll;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;

	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none; /* hiding the scrollbar for Internet Explorer, Edge */
	scrollbar-width: none; /* hiding the scrollbar for Firefox */
}
.app-layout::-webkit-scrollbar {
	display: none; /* hiding the scrollbar for Chrome, Safari, and Opera */
}

@media screen and (max-width: 375px) {
	.app-layout {
		width: 100%;
	}
}
.home-body {
	display: flex;
	flex: 1;
}
.splash-screen {
	background-color: #0651c1;
	flex: 1;
}
.splash-screen > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.stepper {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.stepper > .img-container {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.stepper > .content-container {
	flex: 1;
	text-align: center;

	margin: 0 40px;
	/* border: 1px solid red; */
}
.content-container > .topic {
	font-weight: 700;
	color: var(--primary);
	font-size: 150%;
}
.content-container > p {
	font-size: 90%;
	color: #999;
}
.content-container > .img-container {
	margin-top: 50px;
}
.btn-container {
	margin-top: 30px;
}
.btn-container > .btn {
	cursor: pointer;
	display: block;
	width: 100%;
	padding: 15px 0;
	border: none;
	background-color: var(--primary);
	color: #fff;
	font-weight: 700;
	font-size: 105%;
	border-radius: 5px;
}
.link {
	color: var(--primary);
	font-weight: 700;
}
.signup-layout-container {
	/* border: 1px solid red; */
	flex: 1;
	margin: 30px;
}
.signup-layout-container > .title {
	color: var(--primary);
	font-weight: 700;
	font-size: 110%;
}
.signup-layout-container > .description {
	color: #999;
	font-size: 90%;
}
.back-btn > .link {
	display: flex;
	flex-direction: row;
	/* border: 1px solid red; */
	align-items: center;
}
.back-btn {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.top-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0 30px 0;
	/* border: 1px solid red; */
}
.step-indicator {
	display: flex;
	flex-direction: row;
	flex: 1;
	margin: 0 40px;
	/* border: 1px solid red; */
}
.step-indicator > .container {
	flex: 1;
	background-color: #ccc;
	height: 3px;
	/* padding: 2px; */
	display: flex;
	flex-direction: row;
}
.step-indicator > .container > .indicator {
	background-color: var(--primary);
}
.input-field-container {
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}
.input-field-container > label {
	font-size: 90%;
	font-weight: 700;
	color: #777;
	margin: 2px 0;
}
.input-field-container > input,
select {
	padding: 13px;
	border-radius: 5px;
	border: 1px solid var(--primary);
}
.input-field-container > input::placeholder {
	color: #999 !important;
}
.signup-meta-text {
	margin: 0 40px;
	font-size: 80%;
	color: #999;
	text-align: center;
}
/* Remove input[type="number"] arrows */
.multiple-digits-input::-webkit-outer-spin-button,
.multiple-digits-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
.multiple-digits-input[type="number"] {
	-moz-appearance: textfield;
}
.header {
	margin: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	border-bottom: 2px solid #888;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header > div {
	display: flex;
	flex-direction: row;
}
.header img {
	margin: 0 5px;
}
.card-1 > .top {
	background-color: var(--primary);
	color: #fff;
}
.active-btn {
	background-color: var(--success);
}
.text-2xs {
	font-size: 60%;
}
.card-container {
	width: 100%;
	white-space: nowrap;
	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	-ms-overflow-style: none; /* hiding the scrollbar for Internet Explorer, Edge */
	scrollbar-width: none; /* hiding the scrollbar for Firefox */
}

.card-container::-webkit-scrollbar {
	display: none; /* hiding the scrollbar for Chrome, Safari, and Opera */
}

.card-single {
	float: none;
	display: inline-block;
	zoom: 1;
}
